extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras feugiat gravida eros, sit amet tincidunt nibh gravida a. 

                p Sed et lectus et tellus ornare dictum. Etiam dictum sit amet massa ac vestibulum. Ut non metus purus. Nam dapibus vel elit et auctor. Suspendisse posuere sit amet nulla eu vulputate. Praesent quis ante tempor, imperdiet risus et, aliquet nulla. Duis sollicitudin vulputate blandit. Aenean feugiat ultricies libero, eu dignissim felis finibus ac.

                p Nam et tortor rutrum, ultricies dolor ut, aliquam lacus. Curabitur gravida lectus tortor, eu scelerisque erat egestas sit amet. Etiam pharetra pretium rhoncus. Pellentesque rhoncus purus quis nibh congue condimentum. Suspendisse neque lacus, sagittis eu dictum eu, vestibulum posuere nisi. Phasellus a iaculis felis. Maecenas nec tristique ligula. 
    
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras feugiat gravida eros, sit amet tincidunt nibh gravida a. 
                
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Destinos
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras feugiat gravida eros, sit amet tincidunt nibh gravida a. 
                
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Precios
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras feugiat gravida eros, sit amet tincidunt nibh gravida a. 