footer.container.py-5
    .row    
        .col-md-6
            nav.nav.footer.justify-content-center.justify-content-md-start
                a.nav-link.col-lg-4.col-md-6.col-sm-12(href="/nosotros") Nosotros
                a.nav-link.col-lg-4.col-md-6.col-sm-12(href="/viajes") Viajes
                a.nav-link.col-lg-4.col-md-6.col-sm-12(href="/testimoniales") Testimoniales
        .col
            p.copyright.text-center.text-md-right todos los derechos reservados 
                span=actualYear
