header 
    .navegacion
        .container
            .row.justify-content-center.py-4
                .col-md-4.col-6
                    a(href="/")
                        img(src="/img/logo.svg", alt="logo sitio")
                .col-md-8
                    nav.mt-5.mt-md-0.nav.justify-content-center.justify-content-md-start
                        a.nav-link.col-lg-4.col-md-6.col-sm-12.text-center(href="/nosotros") Nosotros
                        a.nav-link.col-lg-4.col-md-6.col-sm-12.text-center(href="/viajes") Viajes
                        a.nav-link.col-lg-4.col-md-6.col-sm-12.text-center(href="/testimoniales") Testimoniales
                        